<header><h1 class="header">Runeword</h1></header>
<div class="container" *ngIf="runes && currentRuneword">
  <h2 class="name">
    {{currentRuneword.name}}
  </h2>
  <strong class="item-type">{{currentRuneword.itemTypeShort}}</strong>
  <div class="runes">
    <app-rune *ngFor="let rune of runes" [name]="rune.key.toLowerCase()" [labelVisible]="false"></app-rune>
  </div>
  <div class="word">'{{currentRuneword.word.split(' ').join('')}}'</div>
  <strong *ngFor="let stat of currentRuneword.stats" class="stat">{{stat}}</strong>
  <div class="builds" *ngIf="currentRuneword.builds?.length>0">
    <div>Good for:</div>
    <strong class="heroes">{{currentRuneword.builds.join(' ')}}</strong>
  </div>
</div>

<!--<app-ads-container></app-ads-container>-->
