@import "../../shared/constants";
@import "../../shared/responsive";

:host {
  position: relative;
  padding-top: 50px;
  margin-bottom: 500px;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $d2-light;
    padding: 10px 15px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px 10px;
    border-style: solid;
    border-image: url("../../../assets/table-frame.png") 10;
    background: #0c0c0c;
    width: 550px;
    box-sizing: border-box;
    @include less-than(tablet) {
      width: calc(100% - 20px);
    }

    strong:not(:last-child) {
      margin-bottom: 3px;
    }

    .name {
      color: $gold;
      font-size: 24px;
      margin: 0;
    }

    .runes {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      font-size: 12px !important;
    }

    .item-type {
      color: $grey;
      font-size: 22px;
    }

    .word {
      color: $gold;
    }

    .stat {
      text-align: center;
      color: $blue;
    }

    .builds {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      max-width: 450px;
      margin-top: 15px;

      .heroes {
        color: $gold;
        text-align: center;
      }
    }
  }
}

app-footer {
  opacity: 0;
}
