<app-filter [opened]="rs.filterOpen" (toggle)="rs.filterOpen = !rs.filterOpen">
  <div matTooltip="Reset filter" class="trash" (click)="rs.resetFilter()"></div>
  <div class="line">
    <div class="by-name-container">
      <h3 class="subtitle">Find by Name</h3>
      <hr>
      <app-input
        [value]="rs.filterConfig.search"
        (valueChange)="rs.filter($event)">
      </app-input>
    </div>
    <div class="mode-container">
      <h3 class="subtitle">Mode</h3>
      <hr>
      <app-slider
        [values]="['D2R', 'PD2']"
        [index]="rs.filterConfig.pd2ModeOn ? 1 : 0"
        (onValueChange)="changeMode($event)">
      </app-slider>
    </div>
  </div>
  <div class="line">
    <div class="sockets-container">
      <h3 class="subtitle">Sockets</h3>
      <hr>
      <div class="sockets">
          <app-checkbox
            *ngFor="let socket of sockets"
            name="socket"
            [label]="socket"
            labelPosition="vertical"
            [checked]="rs.filterConfig.sockets.includes(socket)"
            (checkboxChange)="changeSockets($event, socket)">
          </app-checkbox>
      </div>
    </div>

    <div class="level-container">
      <h3 class="subtitle">Level</h3>
      <hr>
      <div class="level">
        <div class="from">{{rs.filterConfig.level.from}}</div>
        <div class="slider-container">
          <ngx-slider [(value)]="rs.filterConfig.level.from" [(highValue)]="rs.filterConfig.level.to"
                      [options]="options" (valueChange)="rs.filter()" (highValueChange)="rs.filter()">
          </ngx-slider>
        </div>
        <div class="to">{{rs.filterConfig.level.to}}</div>
      </div>
    </div>
  </div>

  <h3 class="subtitle">Runes</h3>
  <hr>
  <div class="runes">
    <app-rune *ngFor="let rune of rs.runes" [name]="rune.key" [hoverInfoEnabled]="false"
              [disabled]="!rs.filterConfig.runes.includes(rune.key)" [redirectEnabled]="false"
              (click)="changeRune(rune.key)"
              [isLarge]="true"></app-rune>
  </div>

  <h3 class="subtitle">Item Type</h3>
  <hr>
  <div class="ladder-only">
    <app-checkbox
      label="Ladder Only"
      [checked]="rs.filterConfig.ladderOnly"
      labelPosition="horizontal"
      (checkboxChange)="changeLadderOnly($event)">
    </app-checkbox>
  </div>

  <div class="item-or-hero-type">
    <div class="column">
      <h4 class="small-title">Melee Weapons</h4>
      <app-checkbox
        *ngFor="let weapon of meleeWeapons"
        [label]="weapon"
        [checked]="rs.filterConfig.itemTypes.includes(weapon)"
        (checkboxChange)="changeItem($event, weapon)">
      </app-checkbox>
    </div>

    <div class="column">
      <h4 class="small-title">Magic Weapons</h4>
      <app-checkbox
        *ngFor="let magic of magicWeapons"
        [label]="magic"
        [checked]="rs.filterConfig.itemTypes.includes(magic)"
        (checkboxChange)="changeItem($event, magic)">
      </app-checkbox>

      <h4 class="small-title missile">Missile Weapons</h4>
      <app-checkbox
        *ngFor="let missile of missileWeapons"
        [label]="missile"
        [checked]="rs.filterConfig.itemTypes.includes(missile)"
        (checkboxChange)="changeItem($event, missile)">
      </app-checkbox>
    </div>

    <div class="column">
      <h4 class="small-title armor">Armor</h4>
      <app-checkbox
        *ngFor="let armor of armorTypes"
        [label]="armor"
        [checked]="rs.filterConfig.itemTypes.includes(armor)"
        (checkboxChange)="changeItem($event, armor)">
      </app-checkbox>
    </div>
  </div>

  <h3 class="subtitle">Stats</h3>
  <hr>
  <div class="stats">
    <app-checkbox
      *ngFor="let stat of stats"
      [label]="stat.name"
      [checked]="rs.filterConfig.stats.includes(stat.searchKey)"
      (checkboxChange)="changeStat($event, stat.searchKey)">
    </app-checkbox>
  </div>

  <h3 class="subtitle">Hero Builds</h3>
  <hr style="margin-bottom: 0">
  <div class="item-or-hero-type" style="margin-bottom: 15px;">
    <div class="column" *ngFor="let heroBuild of rs.heroBuilds">
      <h4 class="small-title" style="margin-top:10px;">{{heroBuild.hero}}</h4>
      <app-checkbox
        *ngFor="let build of heroBuild.builds"
        [label]="build.name"
        [checked]="rs.filterConfig.build?.name === build.name"
        (checkboxChange)="changeBuild($event, build)">
      </app-checkbox>
    </div>
  </div>
</app-filter>
