<div class="rune-line">
  <img class="icon" [src]="'assets/'+rs.hoveredRune.key.toLowerCase()+'.png'" [alt]="rs.hoveredRune.key">
  <h2 class="name">{{rs.hoveredRune.key}} Rune</h2>
</div>
<br>
<strong>Weapons: {{rs.hoveredRune.statsW[0]}}</strong>
<strong>Armor: {{rs.hoveredRune.statsA[0]}}</strong>
<strong>Helms: {{rs.hoveredRune.statsA[0]}}</strong>
<strong>Shields: {{rs.hoveredRune.statsA.length === 2 ? rs.hoveredRune.statsA[1] : rs.hoveredRune.statsA[0]}}</strong>
<br>
<strong>Required Level: {{rs.hoveredRune.lvl}}</strong>
