@import "../../shared/constants";
@import "../../shared/responsive";

:host {
  position: relative;
  width: 100%;
  margin-bottom: 500px;

  h1 {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .runes {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    margin-top: 20px;
    width: 600px;

    @include less-than(tablet) {
      width: 100%;
      justify-content: center;
    }
  }
}
