$d2: "Exocet", sans-serif;
$d2-light: "Exocet-light", sans-serif;
$gold: #d1c08a;
$grey: #7d7d7d;
$blue: #8282ff;
$orange: #ffb600;
$gold-hover: #e9c964;

@mixin removeSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus {
    outline: none;
  }
}
