@import "constants";
@import "responsive";


@mixin center($horizontally, $vertically) {
  @if $horizontally {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  @if $vertically {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  @if $horizontally and $vertically {

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@mixin removeDrag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin removeSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus {
    outline: none;
  }
}

@mixin animateTransitions($time) {
  transition: $time all ease-out;
}

@mixin buttonReset() {
  outline: none;
  border: 0;
  padding: 0;
  background: transparent;

  &:hover {
    cursor: pointer;
  }
}

@mixin articleContainer() {
  margin-top: 30px;
  box-sizing: border-box;
  overflow: hidden;
  font-family: $d2;
  width: 940px;
  background-color: #111;
  border-width: 30px 30px;
  border-style: solid;
  border-image: url("../../assets/table-frame.png") 30;
  color: white;
  z-index: 2;

  @include less-than(tableMin) {
    width: 100%;
  }
}

@mixin item-preview-container() {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.95);
  font-family: $d2-light;
  padding: 10px 15px;
  font-size: 20px;
  top: 0;
  left: 0;
  z-index: 2000;
  @include less-than(tablet) {
    display: none;
  }
}

@mixin filter-trash() {
  position: absolute;
  top: 43px;
  right: 20px;
  background-image: url(../../assets/trash.jpg);
  width: 46px;
  height: 44px;
  z-index: 100;

  &:hover {
    cursor: pointer;
    background-image: url(../../assets/trash-hover.jpg);
  }

  &:active {
    background-image: url(../../assets/trash-active.jpg);
  }
}

@mixin filter-line() {
  display: flex;
  justify-content: space-between;
  @include less-than(tablet) {
    flex-direction: column;
  }
}

@mixin filter-subtitle() {
  color: $gold;
  font-size: 24px;
  width: 100%;
  display: flex;
  font-weight: normal;

  font-family: $d2;
  margin-top: 10px;

  @include less-than(tablet) {
    text-align: center;
    display: block;
    margin-top: 20px;
  }
}
