@import "constants";
@import "responsive";


@mixin center($horizontally, $vertically) {
  @if $horizontally {
    left: 50%;
     -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  @if $vertically {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  @if $horizontally and $vertically {

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@mixin removeDrag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin removeSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus {
    outline: none;
  }
}

@mixin animateTransitions($time) {
  transition: $time all ease-out;
}

@mixin buttonReset() {
  outline: none;
  border: 0;
  padding: 0;
  background: transparent;

  &:hover {
    cursor: pointer;
  }
}

@mixin articleContainer() {
  margin-top: 30px;
  box-sizing: border-box;
  overflow: hidden;
  font-family: $d2;
  width: 940px;
  background-color: #111;
  border-width: 30px 30px;
  border-style: solid;
  border-image: url("../../assets/table-frame.png") 30;
  color: white;
  z-index: 2;

  @include less-than(tableMin) {
    width: 100%;
  }
}
