<div class="table">
  <div class="header">
    <div class="id">#</div>
    <div class="level">LVL</div>
    <div class="runeword-title">Runeword</div>
    <div class="runes-list">Runes</div>
    <div class="type">Type</div>
  </div>
  <div class="line" *ngFor="let runeword of runes.runewords; index as i">
    <div class="id">{{i+1}}</div>
    <div class="level">{{runeword.level}}</div>
    <div class="runeword-info">{{runeword.name}}</div>
    <div class="runes-list">
      <div class="single-rune" *ngFor="let word of runeword.word.split(' ')">
        <img class="icon" src="assets/rune.png">
        <div class="name">{{word}}</div>
      </div>
    </div>
    <div class="type">{{runeword.itemTypeShort}}</div>
  </div>
</div>
