<div class="container">
  <header><h1>Diablo 2 Resurrected Runeword Explorer</h1></header>
  <p>
    <em>Dear <strong>Diablo II</strong> fans,</em>
    <br><br>
    Having played our favourite game <strong>Diablo II</strong> (and now <strong>Diablo II Resurrected</strong>) for many
    years now,
    I often find myself searching through websites for <strong>runewords</strong> and <strong>runes</strong> related
    information. <br><br>

    Searching for the best <strong>runeword</strong> for my newly found <strong>weapon</strong> or <strong>armor</strong>
    takes time and effort - forums are many, posts are long, old websites can be difficult to navigate. <br><br>

    This is why I wanted to create a simple, user friendly, but highly effective <a routerLink="runewords"><strong>runeword explorer</strong></a>  with
    a powerful filter functionality. It allows you to quickly filter through all <strong>78 runewords</strong> by number
    of <strong>sockets</strong>,
    <strong>level</strong>, <strong>item type</strong> and <strong>stat type</strong>. A careful thought has been put into
    usability and being able to quickly search through a runeword, given a specific item with a given number of <strong>sockets</strong>
    or, for example, finding your next favourite <strong>runeword</strong> by a concrete <strong>stat</strong> that your
    character needs.<br><br>
    A few additional notes. Highlighting <strong>runes</strong> from the filter will sort them in a specific
    order by % matching of total <strong>runes</strong> in a <strong>runeword</strong>. This means that if you highlight
    all <strong>runes</strong> that you have, the <strong>runewords</strong> that you can immediately create will appear
    at the very top. <br><br>
    My plan is to slowly extend this website with ONLY the most "useful" information with regards to <strong>Diablo II
    Resurrected</strong> gameplay - such as <strong>map layouts</strong>, recommended bases for each
    <strong>runeword</strong>, filtering <strong>runewords</strong> by character in order of leveling up, etc. <br><br>
    Although definitely not necessary, feel free to support my website by clicking on the beer icon at the top-right
    corner.
    Please, disable your adblocker as there are costs to maintaining and developing this website - I have tried to make
    the ads as nonintrusive as I can. <br><br>
    If you have any suggestions, please let me know at antonov.martin((at))gmail.
    <br><br>
    Cheers and Happy Grinding, <br>
    Martin
  </p>
</div>
