@import "../../shared/constants";
@import "../../shared/responsive";

:host {
  .container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    color: white;
    margin-top: 50px;
    margin-bottom: 200px;

    @include less-than(ldesktop) {
      width: 60%;
    }
    @include less-than(desktop) {
      width: 70%;
    }
    @include less-than(tablet) {
      width: 90%;
      margin-top: 30px;
    }

    strong {
      display: inline-block;
    }

    p {
      font-family: $text;
      font-size: 20px;

      a {
        display: inline-block;

        &:hover {
          filter: brightness(1.2);
        }
      }

      em {
        font-weight: bold;
        font-style: normal;
        font-size: 28px;
        font-family: $d2;

        strong {
          font-weight: bold;
        }
      }

      strong {
        font-weight: normal;
      }
    }
  }
}
