<h2 [routerLink]="'socketing'">Socketing</h2>
<div class="content">
  <div class="left">
    <h3>Add Sockets to Weapon</h3>
    <div class="image-text">
      <img src="assets/cheat-sheet/socket-weapon.jpg" alt="socket weapon">
      <p>
        <strong class="rune">Ral</strong>+<strong class="rune">Amn</strong>+<strong>Perfect
        Amethyst</strong>+<strong>Weapon</strong><br>=<br><strong>Socketed Weapon</strong></p>
    </div>
    <h3>Add Sockets to Armor</h3>
    <div class="image-text">
      <img src="assets/cheat-sheet/socket-armor.jpg" alt="socket armor">
      <p><strong class="rune">Tal</strong>+<strong class="rune">Thul</strong>+<strong>Perfect
        Topaz</strong>+<strong>Armor</strong><br>=<br><strong>Socketed Armor</strong></p>
    </div>
    <h3>Add Sockets to Shield</h3>
    <div class="image-text">
      <img src="assets/cheat-sheet/socket-shield.jpg" alt="socket shield">
      <p><strong class="rune">Tal</strong>+<strong class="rune">Amn</strong>+<strong>Perfect
        Ruby</strong>+<strong>Shield</strong><br>=<br><strong>Socketed Shield</strong></p>
    </div>
    <h3>Add Sockets to Helm</h3>
    <div class="image-text">
      <img src="assets/cheat-sheet/socket-helm.jpg" alt="socket helm">
      <p><strong class="rune">Ral</strong>+<strong class="rune">Thul</strong>+<strong>Perfect
        Sapphire</strong>+<strong>Helm</strong><br>=<br><strong>Socketed Helm</strong></p>
    </div>
    <h3>Reset Sockets</h3>
    <div class="image-text">
      <img src="assets/cheat-sheet/socket-reset.jpg" alt="reset sockets">
      <p><strong class="rune">Hel</strong>+<strong>Scroll of TP</strong>+<strong>Socketed Item with
        Runes/Jewels/Gems</strong><br>=<br><strong>Socketed Item without Runes/Jewels/Gems</strong></p>
    </div>
  </div>
  <div class="right">
    <p>Adding sockets to a non-socketed item can be obtained in two ways - <strong>Cube Recipes</strong> or via <strong>Larzuk
      Quest</strong>
    </p>
    <h3>Cube Recipes</h3>
    <p>
      You can take a look at the recipes on the left for adding sockets to your items. You should keep the
      following in mind:
    </p>

    <ul>
      <li>You can add sockets to <span class="white">white</span> or <span class="grey">ethereal</span> items which are
        <span>NOT Superior</span>!
      </li>
      <li>The <strong>number of sockets</strong> is determined by a random roll of a dice (a random value from 1 to 6).
        The result will
        be either the value of the roll or the maximum number of sockets the item can have. <br> For example, a <span>Monarch</span>
        shield, can have a maximum of 4 sockets. Rolling 1-3 will give you 1-3 sockets respectively. Rolling 4-6 will
        equate to 4 sockets as this is the maximum for the item.
      </li>
      <li>When <strong>removing the runes/gems/jewels</strong> in a socketed item with the last recipe, the
        runes/gems/jewels will
        <span>NOT</span> be
        returned to you.
      </li>
    </ul>
    <h3>Larzuk quest</h3>
    <ul>
      <li>For <span class="white">white</span> or <span class="grey">ethereal </span> items this will add the maximum
        number of sockets
        in
        accordance with the <strong>item level</strong>.
      </li>
      <li>For <span class="blue">magical</span> items you can obtain 1 or 2 sockets with 50/50 chance.
      </li>
      <li> For <span class="yellow">rare</span>, <span class="green">set</span> or
        <span class="gold">unique</span> items, the quest will always yield 1 socket
      </li>
    </ul>
  </div>
</div>
