<h2 [routerLink]="'lk-farming'">Lower Kurast Rune Farming</h2>
<div class="content">
  <p>Lower Kurast (LK for short) is a great place to farm <strong>high runes</strong> in <strong>Single Player, Hell
    difficulty</strong>. There are 3 or 6
    <strong>super
      chests</strong> and each of them has only <strong>{{lk.TOTAL_COMBINATIONS}} combinations</strong> (2^16 - 2). Some
    of these combinations
    contain high runes. You can roll a decent map and have 30-60 second runs where you check all 6 chests. On
    multiplayer, maps are rerolled every time, so this is not a viable strategy - you can still check the chests, but it
    will not be such a power method for farming high runes. <br><br>LK runs are also good for farming
    <strong>charms</strong>,
    <strong>jewels</strong> and <strong>gems</strong> as they appear very often in the chests. <br><br> This short guide
    includes everything you need to know about
    LK farming.</p>
  <h3>Runes</h3>
  <p>As mentioned above, there are {{lk.TOTAL_COMBINATIONS}} combinations and some of them contain high runes. The type
    of high runes
    available
    in those chests depends on the <strong>player setting</strong> (e.g. type <span class="code">'/player 7'</span>
    command in chat or go to settings) and whether the chest is <strong>locked</strong> or <strong>unlocked</strong>.
    Your chance of getting runes does <strong>NOT</strong> depend on MF.
    <br><br>The table below shows the <strong>number of combinations</strong> (out of {{lk.TOTAL_COMBINATIONS}} total
    combinations) that contain runes, for each player setting, along with some probabilities when farming all 6 chests.
    <br><br> Note that there is a <strong class="gold">19% chance</strong> that a chest is <strong
      class="gold">locked</strong> and
    <strong class="gold">81% chance</strong> that it is <strong class="gold">unlocked</strong>. There are slightly
    different rune combinations for both cases, so they have been <strong class="gold">averaged out</strong>.</p>
  <div class="grid">
    <div *ngFor="let rune of lk.runes">
      <app-rune *ngIf="rune!==''" [name]="rune"></app-rune>
    </div>
    <ng-container *ngFor="let row of lk.tableInfo">
      <div *ngFor="let item of row" [ngClass]="{'player':item.includes('/p')}" class="not-rune">{{item}}</div>
    </ng-container>
  </div>
  <p>From the table, we can see that is best to <strong>farm the chests</strong> on <strong>players 7-8</strong>, unless
    you are farming specifically for <strong class="rune">Lo</strong> rune, which is slightly better farmed on <strong>player
      3-6</strong>.<br><br>
    Let us now take a look at
    some
    probabilities. <em>Probability</em> is defined as <strong>P</strong>, we assume 6 chests are farmed at 30 seconds
    per
    run. <br><br>For players 7-8:</p>
  <ul>
    <li><strong>P(getting at least one <strong class="rune">Pul+</strong> rune) = {{lk.pulPlusStats.probability}}
    </strong> or expected <strong>1
      rune
      every {{lk.pulPlusStats.runs}} runs</strong>, appr. <strong>{{lk.pulPlusStats.time}} hours</strong>.
    </li>
    <li><strong>P(getting at least one <strong class="rune">Ist+</strong> rune) = {{lk.istPlus.probability}}</strong> or
      expected <strong>1
        rune
        every {{lk.istPlus.runs}} runs</strong>, appr. <strong>{{lk.istPlus.time}} hours</strong>.
    </li>
    <li><strong>P(getting at least one <strong class="rune">Sur</strong> or <strong class="rune">Ber</strong>) =
      {{lk.surBerStats.probability}}</strong>
      or expected <strong> 1
        rune
        every {{lk.surBerStats.runs}} runs</strong>, appr. <strong>{{lk.surBerStats.time}} hours</strong>.
    </li>
  </ul>
  <h3>Runes Probability Calculator</h3>
  <p>You can input the players setting and your desired runes to get a probability calculation for your selection.</p>
  <div class="outer-calculator-container">
    <div class="calculator-container">
      <div class="player-input-container">
        <h4>Players Setting</h4>
        <div class="input">
          <img src="assets/toggle-arrow.png" alt="'toggle-arrow'"
               (click)="lk.changeSelectedPlayers(-1)" class="toggle-arrow reversed">
          <strong>{{lk.players[lk.selectedIndex]}}</strong>
          <img src="assets/toggle-arrow.png" alt="'toggle-arrow'"
               (click)="lk.changeSelectedPlayers(1)" class="toggle-arrow">
        </div>
      </div>
      <div class="runes-container">
        <h4>Runes</h4>
        <div class="runes">
          <ng-container *ngFor="let rune of lk.runes">
            <app-rune *ngIf="rune!==''" [name]="rune" [disabled]="!lk.selectedRunes.includes(rune)"
                      (click)="lk.toggleRuneVisibility(rune)" [redirectEnabled]="false"></app-rune>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="probability-calculation">
      <ul>
        <li><strong>P(at least one from <strong class="gold">{{lk.probablity.sum}}</strong> selected runes) =
          <strong class="gold">{{lk.probablity.probability}}</strong>
        </strong> or expected <strong>1
          rune
          every <strong class="gold">{{lk.probablity.runs}}</strong> runs</strong>, appr. <strong><strong
          class="gold">{{lk.probablity.time}}</strong> hours</strong>.
        </li>
      </ul>
    </div>
  </div>


  <h3>Finding Super Chests</h3>
  <p>In Lower Kurast you are looking for a <strong>campfire</strong>. There are <strong>two huts</strong>, one is to the
    left, the other is on top. The
    <strong>first</strong> contains <strong>2 super chests</strong>, the <strong>second</strong> - <strong>1 super
      chest</strong>. This is illustrated in the image below:</p>
  <img class="map" src="assets/cheat-sheet/lk-map.jpg" alt="Lower Kurast Campfire">
  <h3>A Perfect Map</h3>
  <p>Lower Kurast <strong>maps can spawn 2 campfires</strong> for a total of <strong>6 super chests</strong>. In a
    perfect map, you will have the waypoint
    and the two campfires very close to it. <br><br>Start from the waypoint, go through the chests and come back to the
    waypoint. Teleport to Act 4, save and exit and repeat. <br><br>Take your time to find a good map, because a few
    seconds save over
    thousands of runs could mean hours. An example of a good (not perfect) map is given below:</p>
  <img src="assets/cheat-sheet/lk-minimap.jpg" alt="Lower Kurast good map">
  <br>
  <p>Reference <a style="display: inline-block"
                  href="https://www.purediablo.com/forums/threads/guide-regular-special-and-sparkly-chests.380/">here</a>.
  </p>
</div>
