@import "../../shared/constants";
@import "../../shared/responsive";

.table {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  font-family: $d2;
  position: relative;
  margin-top: 30px;
  left: 50%;
  width: 940px;
  transform: translateX(-50%);
  flex-direction: column;
  background-color: #111;
  border-width: 30px 30px;
  border-style: solid;
  border-image: url("../../../assets/table-frame.png") 30;
  color: white;
  z-index: 2;

  @include less-than(tableMin) {
    width: 100%;
  }

  .header {
    display: flex;
    background-color: #111;
    width: 100%;
    height: 25px;
  }

  .line {
    display: flex;
    width: 100%;

    a {
      display: flex;
      width: 30%;
      @include less-than(tablet) {
        width: 33.5%;
      }
    }

    &:nth-child(odd) {
      background-color: #202020;
    }

    &:nth-child(even) {
      background-color: #2d2d2d;
    }

    &.inactive {
      opacity: 0.3;
    }

    .runeword-info {
      color: $gold;
    }

    .runes-list {
      display: flex;

      .single-rune {
        display: flex;
        flex-direction: column;
        margin: 5px;

        @include less-than(tablet) {
          margin: 5px 1px;
          img {
            width: 20px;
            height: 20px;
          }
          .name {
            font-size: 10px;
            color: $orange;
          }
        }

        .name {
          color: $orange;
        }
      }
    }

    .type {
      color: $grey;
    }
  }

  .id {
    width: 3.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include less-than(tablet) {
      display: none;
    }
  }

  .level {
    width: 5.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include less-than(tablet) {
      font-size: 12px;
    }
  }

  .runeword-info, .runeword-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .runeword-title {
    width: 30%;
    @include less-than(tablet) {
      width: 33.5%;
    }
  }

  .runeword-info {
    width: 100%;
    text-align: center;
  }

  .runeword-info {
    font-size: 18px;
    @include less-than(tablet) {
      font-size: 12px;
    }

    &:hover {
      cursor: pointer;
      color: $gold-hover !important;
      font-weight: bold;
    }
  }

  .runes-list {
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    overflow-wrap: anywhere;
    text-align: center;

    @include less-than(tablet) {
      font-size: 12px;
    }
  }
}
