@import "../../shared/constants";
@import "../../shared/responsive";

:host {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 10;

  nav {
    display: flex;
    align-items: center;

    height: 100%;
    width: 100%;
    --size-700: 42px;
    --size-1000: 70px;
    background-image: linear-gradient(
        180deg, transparent 0, rgba(0, 0, 0, 0.42) 50%, transparent), url(../../../assets/top-nav-bg.png);
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 80%), inset 0 -1px 0 0 rgb(0 0 0 / 10%), 0 0 66px 66px rgb(0 0 0 / 10%);

    font-family: $d2;
    color: $gold;
    font-size: 30px;
    @include less-than(tablet) {
      font-size: 26px;
    }
    @include less-than(phone) {
      font-size: 20px;
    }

    &:hover {
      cursor: default;
    }

    .left {
      .image-container {
        margin-top: 30px;
        @include less-than(tablet) {
          margin-top: 5px;
        }

        img {
          width: 180px;
          height: 120px;
          @include less-than(tablet) {
            width: 60px;
            height: 40px;
            margin-left: 5px;
          }

          &:hover {
            filter: brightness(1.2);
          }
        }
      }
    }

    .mid {
      display: flex;
      margin: auto;

      a {
        margin: 0 30px;
        text-align: center;
        color: $gold;
        display:flex;
        justify-content: center;
        align-items: center;

        @include less-than(desktop) {
          margin: 10px;
          font-size: 24px;
        }

        @include less-than(tablet) {
          font-size: 20px;
        }
        @include less-than(phone) {
          font-size: 16px;
        }

        &:hover {
          filter: brightness(1.2);
          cursor: pointer;
        }
      }
    }

    .right {
      .donate-link {
        display: flex;
        height: 100%;
        align-items: center;
        margin-right: 15px;
        width: 40px;
        @include less-than(tablet) {
          right: 5px;
          width: 30px;
        }

        .beer-icon {
          width: 40px;
          height: 40px;
          @include less-than(tablet) {
            width: 30px;
            height: 30px;
          }

          &:hover {
            filter: brightness(1.2);
            animation: shake 0.5s;
            animation-iteration-count: 1;
            cursor: pointer;
          }
        }

        @keyframes shake {
          0% {
            transform: translate(1px, 1px) rotate(0deg);
          }
          10% {
            transform: translate(-1px, -2px) rotate(-5deg);
          }
          20% {
            transform: translate(-3px, 0px) rotate(5deg);
          }
          30% {
            transform: translate(3px, 2px) rotate(0deg);
          }
          40% {
            transform: translate(1px, -1px) rotate(5deg);
          }
          50% {
            transform: translate(-1px, 2px) rotate(-5deg);
          }
          60% {
            transform: translate(-3px, 1px) rotate(0deg);
          }
          70% {
            transform: translate(3px, 1px) rotate(-5deg);
          }
          80% {
            transform: translate(-1px, -1px) rotate(5deg);
          }
          90% {
            transform: translate(1px, 2px) rotate(0deg);
          }
          100% {
            transform: translate(1px, -2px) rotate(-5deg);
          }
        }
      }
    }

  }
}

