<nav>
  <img *ngIf="searchIconVisible" src="assets/search.png" alt="search" class="search-box-icon" (click)="searchBoxVisible=!searchBoxVisible">
  <a routerLink="/runewords">Runewords</a>
  <a class="image-container" routerLink="/home">
    <img src="assets/logo.png" alt="logo">
  </a>
  <a routerLink="/runes">Runes</a>
  <img src="assets/beer.png" alt="donate" class="beer-icon" >
</nav>
<div *ngIf="searchBoxVisible" class="search-box">
  <input type="text" class="search" [(ngModel)]="rs.filterConfig.search" (ngModelChange)="rs.filter()">
</div>




