@import "../../../shared/constants";
@import "../../../shared/mixins";
@import "../../../shared/responsive";

:host {
  @include item-preview-container();

  div:not(:last-child) {
    margin-bottom: 3px;
  }

  .name {
    color: $gold;
    font-size: 24px;
    margin: 0;
  }

  .item-type {
    color: $grey;
    font-size: 22px;
  }

  .word {
    color: $gold;
  }

  .stat {
    color: $blue;
  }

  .builds {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    max-width: 500px;
    margin-top: 15px;

    .heroes {
      color: $gold;
      text-align: center;
    }
  }
}
