@import "../../../shared/constants";
@import "../../../shared/mixins";
@import "../../../shared/responsive";

:host {
  @include item-preview-container();

  .title {
    color: $gold;
  }

  .stat {
    color: white;
    text-align: center;
  }

  .magic-stat {
    text-align: center;
    color: $blue;
  }

  .builds {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    max-width: 500px;
    margin-top: 15px;

    .heroes {
      color: $gold;
      text-align: center;
    }
  }
}
