@import "../../../shared/constants";
@import "../../../shared/mixins";
@import "../../../shared/responsive";

:host {
  @include item-preview-container();
  .title {
    color: $gold;
  }

  .stat {
    color: white;
  }

  .magic-stat {
    color: $blue;
  }
}
