<app-filter-items></app-filter-items>
<h1>Uniques Explorer <br> ({{us.counter}})</h1>
<div class="table-container" [@table]="animationCondition">
  <ng-container *ngFor="let item of us.items">
    <div *ngIf="item.selected">
      <h2>{{item.itemSubtype ? item.itemSubtype : item.itemType}}</h2>
      <hr>
      <div class="specific-items-container" [ngStyle]="{'justify-content': item.itemType === 'Charms'?'center':''}">
        <ng-container *ngFor="let specificItem of item.items">
          <div *ngIf="specificItem.selected" class="specific-item"
               [routerLink]="specificItem.name.toLowerCase().split(' ').join('-').split('\'').join('')"
          >
            <h3 class="name">{{specificItem.name}}</h3>
            <h3 class="type">{{specificItem.type}}</h3>
            <img [src]="specificItem.img" [alt]="specificItem.name + ' image'"
                 (mouseenter)="us.setHoveredItem($event, specificItem)"
                 (mouseleave)="us.removeHoveredItem()">
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>

<app-item-preview *ngIf="us.hoveredItem" [item]="us.hoveredItem"
                  [style.transform]="transform" [style.left]="left" [style.top]="top"></app-item-preview>
