@import "../../shared/constants";
@import "../../shared/responsive";
@import "../../shared/mixins";

:host {
  position: relative;
  padding-top: 50px;
  width: 100%;
  z-index: 2;
  margin-bottom: 300px;

  .table-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    padding: 20px;

    //background-image: radial-gradient(circle farthest-corner at 50% calc(50% - 200px), rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 90%, black 100%), url(../../../../assets/article-bg.jpg);
    background-image: url(../../../assets/article-bg.jpg);
    background-position: top center;
    background-repeat: repeat-y;
    @include articleContainer();

    h2 {
      margin-bottom: 0;
    }

    hr {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 215px;
      margin-bottom: 20px;
    }


    .specific-items-container {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;

      .specific-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;

        &:hover {
          cursor: pointer;
          filter: brightness(1.5);
        }

        @include less-than(tablet) {
          width: 33%;
        }
        @include less-than(phone) {
          width: 50%;
        }

        h3 {
          margin: 0;
        }

        .name {
          font-size: 18px;
        }

        .type {
          font-size: 16px;
        }

        img {
          margin-top: 5px;
          margin-bottom: 25px;
        }
      }
    }
  }
}
