@import 'src/app/shared/constants';
@import 'src/app/shared/responsive';

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #111;
}

body {
  overflow-x: hidden;
}

.preload-images1 {
  position: absolute;
  visibility: hidden;
  background-image: url("assets/checked.jpg");
  font-family: "Exocet", sans-serif;
}

.preload-images2 {
  position: absolute;
  visibility: hidden;
  font-family: "Exocet-light";
  background-image: url("assets/unchecked.jpg");
}

.preload-images3 {
  position: absolute;
  visibility: hidden;
  background-image: url("assets/unchecked-active.jpg");
}

.preload-images4 {
  position: absolute;
  visibility: hidden;
  background-image: url("assets/checked-active.jpg");
}

.preload-images5 {
  position: absolute;
  visibility: hidden;
  background-image: url("assets/arrow.png");
}

.preload-images6 {
  position: absolute;
  visibility: hidden;
  background-image: url("assets/arrow-hover.png");
}

.preload-images7 {
  position: absolute;
  visibility: hidden;
  background-image: url("assets/trash.jpg");
}

.preload-images8 {
  position: absolute;
  visibility: hidden;
  background-image: url("assets/trash-active.jpg");
}

.preload-images9 {
  position: absolute;
  visibility: hidden;
  background-image: url("assets/trash-hover.jpg");
}

html {
  &::-webkit-scrollbar-track {
    display: none;
    background-clip: content-box;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;

    @include less-than(tablet) {
      width: 4px;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-image: url(assets/thumb.jpg);
  }
}

a {
  text-decoration: none;
  display: block;
  color: $gold;
}

h1 {
  text-align: center;
  color: $gold;
  margin-bottom: 30px;
  font-family: $d2;
}

.tooltip-style {
  font-family: $text;
}

header {
  display: contents;
}

strong {
  font-weight: normal;
  display: inline-block;
}

@font-face {
  font-family: 'Exocet';
  src: url('assets/exocet.woff2') format('woff2');
}

@font-face {
  font-family: 'Exocet-light';
  src: url('assets/exocet-light.ttf') format('woff2');
}

.ngx-slider {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  width: calc(100% - 3px) !important;

  .ngx-slider-pointer {
    width: 29px !important;
    height: 20px !important;
    border-radius: 0 !important;
    background: url(assets/slider-btn.jpg);
    top: 4px !important;

    &.ngx-slider-pointer-min {
      margin-left: 3px !important;
    }

    &.ngx-slider-pointer-max {
      transform: rotate(180deg);
    }

    &:focus-visible {
      outline: none !important;
      filter: brightness(1.3);
    }
  ;

    &:after {
      display: none !important;
    }

    &:after {
      display: none !important;
    }
  }

  .ngx-slider-bubble {
    display: none !important;
  }

  .ngx-slider-bar {
    width: 248px !important;
    height: 27px !important;
    background: url(assets/slider-bg.jpg) !important;

    &.ngx-slider-selection {
      display: none !important;
    }
  }
}

// slider
.ngx-slider-floor {
  display: none !important;
}

.ngx-slider-ceil {
  display: none !important;
}


// Input
input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  background: url(assets/unchecked.jpg);
  height: 33px;
  width: 33px;
  display: inline-block;

  &:active {
    background: url(assets/unchecked-active.jpg);
  }

  &:hover {
    filter: brightness(1.2);
  }
}

input[type=checkbox]:checked + label {
  background: url(assets/checked.jpg);
  height: 33px;
  width: 33px;
  display: inline-block;

  &:active {
    background: url(assets/checked-active.jpg);
  }

  &:hover {
    filter: brightness(1.2);
  }
}

hr {
  background: url(assets/border-bottom.png) no-repeat;
  background-size: contain;
  display: block;
  height: 8px;
  border: 0;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

hr:before,
hr:after {
  content: '';
  display: block;
  position: absolute;
  background: #d7d7d7;
  height: 2px;
  top: 8px;
}

hr:before {
  left: 0;
  right: 50%;
  margin-right: 10px;
}

hr:after {
  right: 0;
  left: 50%;
  margin-left: 10px;
}


span {
  &.white {
    font-style: italic;
  }

  &.blue {
    font-style: italic;
    color: $blue
  }

  &.green {
    font-style: italic;
    color: $green;
  }

  &.yellow {
    font-style: italic;
    color: $yellow;
  }

  &.gold {
    font-style: italic;
    color: $gold;
  }

  &.grey {
    font-style: italic;
    color: $grey;
  }
}

h2 {
  text-align: center;
  font-weight: normal;
  font-family: $d2;
  font-size: 28px;
  margin-bottom: 15px;
  color: white;
}

h3 {
  text-align: center;
  font-weight: normal;
  font-family: $d2;
  margin: 20px 0 10px 0;
  color: $gold;
  font-size: 24px;
}

li {
  background: url('assets/bullet.png') no-repeat 0 0 transparent;
  list-style-type: none;
  margin: 10px 0;
  padding: 0 0 1px 35px;
  vertical-align: middle;
}

.toggle-arrow {
  &:hover {
    filter: brightness(1.2);
    cursor: pointer;
  }

  &:active {
    transform: scale(0.8);
    filter: brightness(1.5);
  }

  &.reversed {
    transform: rotate(180deg);

    &:active {
      transform: rotate(180deg) scale(0.8);
      filter: brightness(1.5);
    }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
