@import "../../../shared/constants";
@import "../../../shared/responsive";
@import "../../../shared/mixins";

:host {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  padding: 20px;

  //background-image: radial-gradient(circle farthest-corner at 50% calc(50% - 200px), rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 90%, black 100%), url(../../../../assets/article-bg.jpg);
  background-image: url(../../../../assets/article-bg.jpg);
  background-position: top center;
  background-repeat: repeat-y;

  @include articleContainer();

  h2 {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .explanation, ul {
    font-family: $text;
  }

  .num {
    font-family: $d2;
    color: $gold;
    margin: 0 5px;
  }

  .content {
    width: 100%;
    display: flex;
    margin-top: 15px;
    @include less-than(tablet) {
      flex-direction: column;
    }

    .recipe-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;

      @include less-than(tablet) {
        width: 100%;
      }

      .explanation {
        margin-bottom: 10px;

        strong {
          color: $gold;

          &.magical {
            color: $blue;
          }
        }
      }

      li {
        strong {
          color: $gold;

          &.magical {
            color: $blue;
          }
        }
      }

      .image-text {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 10px 0 20px 0;

        img {
          width: 35%;
          height: auto;
          box-shadow: 0 0 20px black;
        }

        .recipe {
          width: 50%;
          text-align: center;
          font-size: 20px;

          strong {
            &.rune {
              color: $orange;
            }

            &.blue {
              color: $blue;
            }

            &.gold {
              color: $gold;
            }
          }
        }
      }
    }
  }
}
