<h2 [routerLink]="'useful-recipes'">Useful Recipes</h2>
<div class="content">
  <div class="recipe-container">
    <h3>Caster Amulet</h3>
    <div class="image-text">
      <img src="assets/cheat-sheet/caster-ammy.jpg" alt="caster amulet recipe">
      <p>
        <strong class="blue">Amulet</strong>+<strong class="blue">Jewel</strong>+ <strong>Perfect
        Amethyst</strong>+<strong class="rune">Ral</strong><br>=<br><strong class="rune">Caster Amulet</strong></p>
    </div>
    <p class="explanation">Caster Amulets are very powerful, because they can roll +2 to class specific skills, 10-20
      FCR and with various other mods such as MF and resistances. </p>
    <ul>
      <li>
        In this recipe amulets should be magical and you can use any jewel.
      </li>
      <li>To get the +2 to class skills mod, the caster
        amulet should be level 90+, so the magical amulet should either be: <br><span class="num">1.</span> gambled
        amulet (you character level
        should be level 93+)<br><span class="num">2.</span> amulet from Nihlathak (your character level should 85+) <br><span
          class="num">3.</span> amulet from Baal
        (your character level should 81+)
      </li>
    </ul>
    <h3>Blood Gloves</h3>
    <div class="image-text">
      <img src="assets/cheat-sheet/blood-gloves.jpg" alt="blood gloves recipe">
      <p>
        <strong class="rune">Nef</strong>+<strong class="blue">Jewel</strong>+<strong>Perfect
        Ruby</strong>+<br><strong>Heavy/SharkSkin/ Vampirebone Gloves</strong><br>=<br><strong class="rune">Blood
        Gloves</strong></p>
    </div>
    <p class="explanation">Blood Gloves are a very nice options early game due to their extra <strong>life</strong>,
      <strong>life leach</strong> and <strong>crushing blow</strong>. They can also roll with extra resistances. </p>
    <h3>Reroll Magic Items</h3>
    <div class="image-text">
      <img src="assets/cheat-sheet/reroll-charm.jpg" alt="magic item reroll">
      <p>
        <strong>3x Perfect Gems</strong>+<strong class="blue">Magic </strong><strong>Item</strong><br>=<br><strong>Rerolled </strong><strong
        class="blue">Magic </strong><strong>Item</strong></p>
    </div>
    <p class="explanation">Most commonly used to reroll <strong>Grand Charms</strong> to get the +1 to X skills. Use
      charms from <strong>Baal</strong> or <strong>Nihlathak</strong> for best chance to roll a godly charm. </p>
  </div>
  <div class="recipe-container">
    <h3>Upping Normal Unique Weapon</h3>
    <div class="image-text">
      <img src="assets/cheat-sheet/up-normal-weapon.jpg" alt="upping normal weapon">
      <p>
        <strong class="rune">Ral</strong>+<strong class="rune">Sol</strong>+<strong>Perfect
        Emerald</strong>+<strong>Normal </strong><strong class="gold">Unique </strong> <strong> Weapon</strong><br>=<br>
        <strong>Exceptional </strong><strong
        class="gold">Unique </strong>Weapon<strong></strong>
      </p>
    </div>
    <p class="explanation">Damage is improved, but the unique item remains the same.</p>
    <h3>Upping Exceptional Unique Weapon</h3>
    <div class="image-text">
      <img src="assets/cheat-sheet/up-exceptional-weapon.jpg" alt="upping exceptional weapon">
      <p>
        <strong class="rune">Lum</strong>+<strong class="rune">Pul</strong>+<strong>Perfect
        Emerald</strong>+<strong>Exceptional </strong><strong class="gold">Unique </strong> <strong> Weapon</strong><br>=<br>
        <strong>Elite </strong><strong
        class="gold">Unique </strong>Weapon<strong></strong>
      </p>
    </div>
    <p class="explanation">Damage is improved, but the unique item remains the same.</p>
    <h3>Upping Normal Unique Armor</h3>
    <div class="image-text">
      <img src="assets/cheat-sheet/up-normal-armor.jpg" alt="upping exceptional weapon">
      <p>
        <strong class="rune">Tal</strong>+<strong class="rune">Shael</strong>+<strong>Perfect
        Diamond</strong>+<strong>Normal </strong><strong class="gold">Unique </strong> <strong> Weapon</strong><br>=<br>
        <strong>Exceptional </strong><strong class="gold">Unique </strong>Weapon<strong></strong>
      </p>
    </div>
    <p class="explanation">"Armor" means any Body Armor, Helm, Shield, Gloves or boots. Defense is improved, but the
      unique item remains the same.</p>
    <h3>Upping Exceptional Unique Armor</h3>
    <div class="image-text">
      <img src="assets/cheat-sheet/up-exceptional-armor.jpg" alt="magic item reroll">
      <p>
        <strong class="rune">Ko</strong>+<strong class="rune">Lem</strong>+<strong>Perfect
        Diamond</strong>+<strong>Exceptional </strong><strong class="gold">Unique </strong> <strong> Weapon</strong><br>=<br>
        <strong>Elite </strong><strong class="gold">Unique </strong>Weapon<strong></strong>
      </p>
    </div>
    <p class="explanation">"Armor" means any Body Armor, Helm, Shield, Gloves or boots. Defense is improved, but the
      unique item remains the same.</p>
  </div>
</div>
