<h2 [routerLink]="'useful-recipes'">Useful Recipes</h2>
<div class="content">
  <div class="recipe-container">
    <h3>Caster Amulet</h3>
    <div class="image-text">
      <img src="assets/cheat-sheet/caster-ammy.jpg" alt="caster amulet recipe">
      <p class="recipe">
        <strong class="blue">Amulet</strong>+<strong class="blue">Jewel</strong>+ <strong>Perfect
        Amethyst</strong>+<strong class="rune">Ral</strong><br>=<br><strong class="rune">Caster Amulet</strong></p>
    </div>
    <p class="explanation">Caster Amulets are very powerful, because they can roll <strong>+2</strong> to class specific
      <strong>skills</strong>, 10-20
      <strong>FCR</strong> and with various other mods such as <strong>MF</strong> and <strong>resistances</strong>.
    </p>
    <ul>
      <li>
        In this recipe amulets should be <strong class="magical">magical</strong> and you can use any <strong
        class="white">jewel</strong>.
      </li>
      <li>To get the +2 to class skills mod, the caster
        amulet should be level 90+, so the magical amulet should either be: <br><span class="num">1.</span> <strong>gambled</strong>
        amulet (you character should be <strong>level 93+</strong>)<br><span class="num">2.</span> amulet from <strong>Nihlathak</strong>
        (your character should be <strong>level 85+</strong>) <br><span
          class="num">3.</span> amulet from <strong>Baal</strong>
        (your character should be <strong>level 81+</strong>)
      </li>
    </ul>
    <h3>Blood Gloves</h3>
    <div class="image-text">
      <img src="assets/cheat-sheet/blood-gloves.jpg" alt="blood gloves recipe">
      <p class="recipe">
        <strong class="rune">Nef</strong>+<strong class="blue">Jewel</strong>+<strong>Perfect
        Ruby</strong>+<br><strong>Heavy/SharkSkin/ Vampirebone Gloves</strong><br>=<br><strong class="rune">Blood
        Gloves</strong></p>
    </div>
    <p class="explanation">Blood Gloves are a very nice options early game due to their extra <strong>life</strong>,
      <strong>life leach</strong> and <strong>crushing blow</strong>. They can also roll with extra
      <strong>resistances</strong>. </p>
    <h3>Reroll Magic Items</h3>
    <div class="image-text">
      <img src="assets/cheat-sheet/reroll-charm.jpg" alt="magic item reroll">
      <p class="recipe">
        <strong>3x Perfect Gems/Skulls</strong>+<strong
        class="blue">Magic </strong><strong>Item</strong><br>=<br><strong>Rerolled </strong><strong
        class="blue">Magic </strong><strong>Item</strong></p>
    </div>
    <p class="explanation">Most commonly used to reroll <strong>Grand Charms</strong> to get the <strong>+1 to X
      skills</strong>. Use
      charms from <strong>Baal</strong> or <strong>Nihlathak</strong> for best chance to roll a godly charm. </p>
  </div>
  <div class="recipe-container">
    <h3>Upping Normal Unique Weapon</h3>
    <div class="image-text">
      <img src="assets/cheat-sheet/up-normal-weapon.jpg" alt="upping normal weapon">
      <p class="recipe">
        <strong class="rune">Ral</strong>+<strong class="rune">Sol</strong>+<strong>Perfect
        Emerald</strong>+<strong>Normal </strong><strong class="gold"> Unique </strong> <strong> Weapon</strong><br>=<br>
        <strong>Exceptional </strong><strong
        class="gold">Unique </strong> Weapon<strong></strong>
      </p>
    </div>
    <p class="explanation">Damage is improved, but the unique item remains the same.</p>
    <h3>Upping Exceptional Unique Weapon</h3>
    <div class="image-text">
      <img src="assets/cheat-sheet/up-exceptional-weapon.jpg" alt="upping exceptional weapon">
      <p class="recipe">
        <strong class="rune">Lum</strong>+<strong class="rune">Pul</strong>+<strong>Perfect
        Emerald</strong>+<strong>Exceptional </strong><strong class="gold"> Unique </strong> <strong> Weapon</strong><br>=<br>
        <strong>Elite </strong><strong
        class="gold">Unique </strong> Weapon<strong></strong>
      </p>
    </div>
    <p class="explanation">Damage is improved, but the unique item remains the same.</p>
    <h3>Upping Normal Unique Armor</h3>
    <div class="image-text">
      <img src="assets/cheat-sheet/up-normal-armor.jpg" alt="upping exceptional weapon">
      <p class="recipe">
        <strong class="rune">Tal</strong>+<strong class="rune">Shael</strong>+<strong>Perfect
        Diamond</strong>+<strong>Normal </strong><strong class="gold"> Unique </strong> <strong> Armor</strong><br>=<br>
        <strong>Exceptional </strong><strong class="gold">Unique </strong> Armor<strong></strong>
      </p>
    </div>
    <p class="explanation">"Armor" means any <strong>Body Armor, Helm, Shield,</strong><strong> Gloves or Boots</strong>.<br>
      Defense is improved, but the
      unique item remains the same.</p>
    <h3>Upping Exceptional Unique Armor</h3>
    <div class="image-text">
      <img src="assets/cheat-sheet/up-exceptional-armor.jpg" alt="magic item reroll">
      <p class="recipe">
        <strong class="rune">Ko</strong>+<strong class="rune">Lem</strong>+<strong>Perfect
        Diamond</strong>+<strong>Exceptional </strong><strong class="gold"> Unique </strong> <strong> Armor</strong><br>=<br>
        <strong>Elite </strong><strong class="gold">Unique </strong> Armor<strong></strong>
      </p>
    </div>
    <p class="explanation">"Armor" means any <strong>Body Armor, Helm, Shield,</strong><strong> Gloves or Boots</strong>.<br>
      Defense is
      improved, but the
      unique item remains the same.</p>
  </div>
</div>
