<div class="rune-line">
  <img class="icon" [src]="'assets/runes/'+rune.key.toLowerCase()+'.png'" [alt]="rune.key">
  <h2 class="name">{{rune.key}} Rune</h2>
</div>
<br>
<strong>Weapons: {{rune.statsW[0]}}</strong>
<strong>Armor: {{rune.statsA[0]}}</strong>
<strong>Helms: {{rune.statsA[0]}}</strong>
<strong>Shields: {{rune.statsA.length === 2 ? rune.statsA[1] : rune.statsA[0]}}</strong>
<br>
<strong>Required Level: {{rune.lvl}}</strong>

<div class="recipes">
  <div class="recipe" *ngIf="index>0">
    <app-rune [name]="rs.runes[index-1].key" [labelVisible]="false"></app-rune>
    <app-rune [name]="rs.runes[index-1].key" [labelVisible]="false"></app-rune>
    <app-rune *ngIf="index <= 20" [name]="rs.runes[index-1].key" [labelVisible]="false"></app-rune>
    <img *ngIf="index>9" [src]="'assets/gems/'+(index-9)+'.png'" [alt]="getFullName(index-9)">
    <span>=</span>
    <app-rune [name]="rune.key" [labelVisible]="false"></app-rune>
  </div>
  <div class="recipe" *ngIf="index < rs.runes.length-1">
    <app-rune [name]="rune.key" [labelVisible]="false"></app-rune>
    <app-rune [name]="rune.key" [labelVisible]="false"></app-rune>
    <app-rune *ngIf="index <= 19" [name]="rune.key" [labelVisible]="false"></app-rune>
    <img *ngIf="index>8" [src]="'assets/gems/'+(index-8)+'.png'" [alt]="getFullName(index-8)">
    <span>=</span>
    <app-rune [name]="rs.runes[index+1].key" [labelVisible]="false"></app-rune>
  </div>
</div>
